<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/header.ejs')  %> 
    
    <h1 class="text-center">404 - Not Found</h1>
    
    <%- include('./partials/scripts.ejs')  %> 
   
</body>
</html>