<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Concesionarias Formar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/sucursales">Sucursales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/autos">Autos</a>
        </li>
      </ul>
      <div class="user col-1">
        <ul style="display: inline;">
          <% if (typeof session.user != "undefined") { %>
            <h5><%= session.user.nombre %> </h5>
              <a href="/users/perfil"><img src="/images/avatars/<%= session.user.avatar %>" alt="" width="50px" height="50px"
          class="rounded-circle avatar"></a>
            <li>
              <a href="/users/logout">Cerrar sesión</a>
            </li>
                <% if (session.user.rol === "admin") { %>
                  <li>
                    <a href="/admin/sucursales">IR AL ADMIN</a>
                  </li>    
                <% } %>
        <% } else {%>
          <li>
            <a href="/users/login">  login  </a>
          </li>
        <% } %>
        </ul>
      </div>
      <form class="d-flex" action="/search" method="GET">
        <input class="form-control me-2" type="search" placeholder="Busca tu auto favorita" name="search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>