<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Salir del Admin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin/sucursales">Sucursales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/autos">Autos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/users">Usuarios</a>
        </li>
      </ul>
      <div class="user">
        <% if (typeof session.user != "undefined") { %>
            <i class="fas fa-user"></i><span class="session"></span>
            <div class="menu-user">
              <h5><%= session.user.nombre %> </h5>
              <a href="/users/profile"><img src="/images/avatars/<%= session.user.avatar %>" alt="" width="50px" height="50px"
                class="rounded-circle avatar"></a></a>
              <a href="/users/logout">Cerrar sesión</a>
            </div>
        <% } else {%>
            <a href="/users/profile"><i class="fas fa-user"></i></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>